################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/VisualStudioCode/DesignTimeBuild/.dtbcache.v2
/.vs/VisualStudioCode/v17/.suo
